{% extends 'layout.html' %}
{# Для вывода переменных используются двойные скобки {{переменная}} #}

{% block title %}Site-Name!{% endblock %}
{% block content %}
<h4>Parser Page!</h4>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div style="color: red;">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div>
    {% if stat %}
    <ul>
        <li><a class="btn" href="/drop/{{table_name}}">Удалить таблицу и файл?</a></li>
    </ul>
    <h5>Статистика торговых операций на бирже:</h5>
    <p>
        <h6>
            <b>
                {# step 6 #}
                Анализ сделок во временном периоде 
                с  {{ order_date['first'] }} 
                по {{ order_date['last'] }}
            </b>
        </h6>

        1) Общее колличество сделок <u><b>{{ stat['total'] }}</b></u> исполненых ордеров.
        из них: BUY <u><b>{{ stat['total_buy'] }}</b></u>, SELL <u><b>{{ stat['total_sell'] }}</b></u>.
        <br>
        2) Колличество торговых пар в которых велись торги <u><b>{{ stat['total_pair'] }}</b></u> торговых пар.
        <br>
        3) Топ 5 торговых пар где было совершено больше всего сделок
        {% if top_pairs %}
        <table>
            <tbody>
                {% for info in top_pairs %}
                <tr>
                    <td>
                        <a href="/parsing/{{table_name}}/{{ info['current_pair'] }}">
                            {{ info['current_pair'] }}
                        </a>
                    </td>
                    <td>{{ info['total'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <br>
        4) Топ 5 сделок по объему в рублях
        {% if top_deals_rub %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>колличество</th>
                    <th>цена (руб)</th>
                    <th>объем (руб)</th>
                </tr>
            </thead>
            <tbody>
                {% for info in top_deals_rub %}
                <tr>
                    <td>{{ info['date_time'] }}</td>
                    <td>{{ info['order_type'].upper() }}</td>
                    <td>{{ info['current_pair'] }}</td>
                    <td>{{ info['quanity'] }}</td>
                    <td>{{ info['price'] }}</td>
                    <td>{{ info['order_value'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <br>
        {% if pair_info %}
        <h6>Анализ торговой пары {{ pair_info['pair_name'] }}</h6>
        <ul>
            <li>
                - Количество сделок в паре <b><u>{{ pair_info['total_deals'] }}</u></b>
                из них BUY <b><u>{{ pair_info['total_buy'] }}</u></b> 
                и SELL <u><b>{{ pair_info['total_sell'] }}</b></u>
            </li>
            <li>
                - Kоличество сделок BUY за (Введите цену) 
                <input style="width: 60px; height: 20px;" type="text" value="0.0" id="buy"> 
                : <b>{{price['buy']}}</b> руб {{ pair_info['pair_name'] }}. 
                <u><b>{{ pair_info['fixed_price_buy'] }}</b></u>
            </li>
            <li>
                - Kоличество сделок SELL за (Введите цену)
                <input style="width: 60px; height: 20px;" type="text" value="0.0" id="sell"> 
                 : <b>{{price['sell']}}</b> руб {{ pair_info['pair_name'] }}. 
                <u><b>{{ pair_info['fixed_price_sell'] }}</b></u>
            </li>
            <li>
                - Объем всех BUY ордеров <u><b>{{ pair_info['val_buy'] }}</b></u> РУБ
            </li>
            <li>
                - Объем всех SELL ордеров <u><b>{{ pair_info['val_sell'] }}</b></u> РУБ
            </li>
        </ul>
            <div>
                <a class="btn" href="/parsing/{{table_name}}/{{pair_info['pair_name']}}" id="analisys">
                    Онализировать с новой ценой?
                </a>
            </div>
            <script>
                // Собирает url для анализа с новой ценой
                var buy = 0.0
                var sell = 0.0

                document.querySelector("#buy").onchange = function(e) { buy = this.value }
                document.querySelector("#sell").onchange = function(e) { sell = this.value }

                document.querySelector("#analisys").onclick = function(e) {
                    this.href = this.href + "/" + buy + "/" + sell
                }
        
            </script>
        {% endif %}
    </p>
    <br><br>
    {% endif %}
</div>
{% endblock %}