{% extends "base_template.html" %}
{% block title %}about_exmo{% endblock title %}
{% block header %}О бирже EXMO{% endblock header %}
  
{% block content %}
	<div>
		<h1>Биржа EXMO.me позволяет торговать криптовалютой<h1>
	</div>
	<div><p>Биржа - это площадка где происходят торговые операции с криптовалютой. Рынок грубо говоря</p>
		<p>На этом рынке мы можем покупать и продавать криптовалюту. Для покупки и продажи мы будем использовать как это ни странно - ВАЛЮТУ. Итак мы можем ввести первое основное понятие биржи - "ВАЛЮТА". Количество валют на рынке EXMO: {{currents}}<br> <a href="currents/">Список всех валют</a> </p>
		<p>Две валюты составляют ВАЛЮТНУЮ ПАРУ. "ВАЛЮТНАЯ ПАРА" - это второе основное пнятие, тот самый финансовый инструмент с помощью которого мы будем заробатывать ВАЛЮТУ. Количество валютных пар на рынке EXMO: {{curent_pairs}}<br> <a href="current_pairs/">Список всех валютных пар</a></p>
		<p>Третье основное понятие которое мы введём - "ЦЕНА". Валютная пара имеет некоторую метрическую характеристику - цену. Стоимость одной валюты из пары относительно второй валюты из этой пары. <br> <a href="prices_only/">Список всех валютных пар и цены</p>

	</div>
{% endblock content %}
