{% extends "base_template.html" %}
{% block title %}main{% endblock title %}
{% block header %}Главная{% endblock header %}
  
{% block content %}
<h3> C помощью этого интернет ресурса пользователь сможет подготовиться к торговле на бирже  EXMO.me </h3>
<h1> Биржа это торговля, а торговля подразумивает прибыль </h1>
<h1> Сайт про то как получить прибыль от торговли на бирже </h1> 
<div> <h2> Из приложения вы сможете узнать:</h2>
	<ul>
		<li>Информацию о бирже EXMO.me</li>
		<li>Получить катировки и цены криптовалют</li>
		<li>Выбрать валюту и узнать информацию о данной валюте</li>
		<li>Выбрать валютную пару и получить информацию о ней</li>
		<li>Загрузить свою историю торгов и получить отчёт о торговле</li>
		<li>Узнать о стратегиях торговли и познакомится с моделями работы этих стратегий</li>
	</ul>
</div>
<div> <h1>Задания по приложению:</h1>
	<ul>
		<li>Создать форму со списком тег "select" выбора валют</li>
		<li>Создать запрос на EXMO и как то выбрать названия валют</li> 
		<li>Запрос делать из экшина в файле views</li>
		<li>Название экшина def explor_trade_history</li>
		<li>Когда получены валюты передать их в представление explor_trade_history.html</li>
		<li>Вывести кнопку тег 'button'</li>
		<li>Создать новый экшн для расчёта</li>
		<li>Форма должна отправляться POST запросом</li>
	</ul>
</div>
{% endblock content %}