{% extends 'layout.html' %}
{% block title %}Главная страница!{% endblock %}

{% block content %}
<h1 class="text-center">Generator of orders</h1>
<form action="/calculate/buy" method="post" class="row g-3 needs-validation" novalidate>
  <!-- csrf_token -->
  <div class="col-md-6">
    <label for="" class="form-label">Валютная пара</label>
    <input 
    	name="pair_name" 
    	type="text" 
    	class="form-control" 
    	id="" 
    	placeholder="EXM/RUB" 
    	required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Цена на бирже</label>
    <input 
    	name="cerrent_price" 
    	type="text" 
    	class="form-control" 
    	id="validationCustom01" 
    	placeholder="0.00"
    	required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Размер ордера</label>
    <input 
    	name="min_order_size" 
    	type="text" 
    	class="form-control" 
    	id="" 
    	placeholder="0"
    	required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Комиссия</label>
    <input 
    	name="comission" 
    	type="text" 
    	class="form-control" 
    	id="" 
    	placeholder="0.00"
    	required>
  </div>
  <div class="col-md-6">
    <label  class="form-label">Минимальная цена</label>
    <input 
    	name="min_price" 
    	type="text" 
    	class="form-control" 
    	id="" 
    	placeholder="0.00"
    	required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Шаг</label>
    <input 
    	name="step_trade" 
    	type="text" 
    	class="form-control" 
    	id="" 
    	placeholder="0.00"
    	required>
  </div>
  <div class="col-12">
    <button name="enter" type="submit" class="btn btn-primary">Поехали!</button>
  </div>
</form>
<!-- {% if posts %}
	<hr>
	<h5>Выведенно из базы данных MYSQL</h5>
	{% for post in posts %}
		<div>
			<h4>{{ post['title'] }}</h4>
			<p>{{ post['content'] }}</p>
		</div>
	{% endfor %}
	<hr>

{% endif %} -->

{% endblock %}